.pad-wrap {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.pad-wrap .pad-tool-bar, .pad-wrap .canvas-wrap {
	padding: 0;
	margin: 0;
}

.pad-wrap .canvas-wrap .main-canvas {
	float: left;
}

.layout-top, .layout-bottom, .layout-left, .layout-right {
	display: table;
}

.layout-top .pad-tool-bar, .layout-bottom .pad-tool-bar {
	display: table-row;
	height: 33px;
}

.layout-top .canvas-wrap, .layout-bottom .canvas-wrap {
	display: table-row;
}

.layout-left .pad-tool-bar, .layout-right .pad-tool-bar {
	display: table-cell;
	width: 33px;
}

.layout-left .canvas-wrap, .layout-right .canvas-wrap {
	display: table-cell;
}

.pad-wrap .pad-tool-bar .tool-item {
	width: 33px;
    height: 33px;
    background: red;
    display: inline-block;
    float: left;
}