body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
	text-decoration: none;
}

.index-body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_0401.jpg) no-repeat;
	background-size: cover;
}

.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.index-body .content-wrap {
    width: 380px;
    border: solid 1px #cdcdcd;
    border-radius: 5px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.home-body {
	padding: 0 100px;
}

.add-content {
	border: solid 1px #cdcdcd;
    width: 800px;
    margin: 50px auto;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: -2px -2px 20px 10px #aaaaaa;
}

.description-textarea {
	height: 250px !important;
}

table th, table td {
	word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle !important;
}

.description-wrap {
	word-wrap: break-word;
    word-break: break-all;
}

.pd20 {
	padding: 20px;
}

.pd30 {
	padding: 30px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cf {
	overflow: hidden;
	content: ".";
}