.pad_wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.pad_wrap .pad_bar {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pad_wrap .pad_bar .pad_bar_item {
	cursor: default;
	display: inline-block;
    padding: 2px;
}

.pad_wrap .pad_bar .pad_bar_item.hide {
	display: none;
}

.pad_wrap .pen {
	cursor: url("./pen.cur"), auto;
}

.pad_wrap .pad_bar .pad_bar_item.on {
	background: #BFEFFF;
	border-radius: 5px;
}