body, ul, li, a{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
}

body {
	background: #1d1d1d;
	width: 100%;
	height: 100%;
	position: absolute;
}

body .icon-setup {
	font-size: 20px;
	cursor: pointer;
}

.iconfont {text-align: center;}

.fl {float: left;}
.fr {float: right;}
.w50 {width: 50px;}
.w100 {width: 100px;}
.w200 {width: 200px;}
.w240 {width: 240px;}
.w250 {width: 250px;}
.w220 {width: 220px;}
.w210 {width: 210px;}
.w190 {width: 190px;}
.w180 {width: 180px;}
.w630 {width: 630px;}
.lh34 {line-height: 34px;}
.lh40 {line-height: 40px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.ml4 {margin-left: 4px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml14 {margin-left: 14px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt21 {margin-top: 21px;}
.mt43 {margin-top: 43px;}
.r5 {right: 5px;}
.r30 {right: 30px;}
.r55 {right: 55px;}
.b5 {bottom: 5px;}
.p5 {padding: 5px;}
.tc {text-align: center;}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.btn {
	display: inline-block;
	text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #111;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.quit-btn {
	background: #73a53f;
	color: rgba(255, 255, 255, 1);
	height: 35px;
    line-height: 35px;
    width: 100px;
}

.primary-btn {
	line-height: 25px;
    height: 25px;
    width: 60px;
    background: #343536;
}

.dialog-btn {
	background-color: #35373a;
	line-height: 30px;
    height: 30px;
    width: 80px;
}

.director-wrap {
	width: 1366px;
	margin: 0 auto;
	position: relative;
	background: #343536;
	box-sizing: content-box;
}

.director-wrap .director-head-wrap {
	width: 100%;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
}

.director-wrap .director-head-wrap .logo-wrap, .director-wrap .director-head-wrap .quit-btn-wrap {
	display: inline-block;
}

.director-ctrl-wrap .screen-wrap{
	height: 414px;
	box-sizing: border-box;
}

.director-ctrl-wrap .main-screen-wrap {
	width: 736px;
	border: solid 1px #1d1d1d;
	background: #aac7e7;
	border-right: none;
	box-sizing: border-box;
	position: relative;
}

.director-ctrl-wrap .main-screen-wrap .main-screen {
	width: 100%;
	height: 100%;
}

.director-ctrl-wrap .main-screen-wrap .main-screen-cover {
	width: 50%;
	height: 100%;
	position: absolute;
}

.director-ctrl-wrap .main-screen-wrap .main-screen-cover-left {
	left: 0;
	top: 0;
}

.director-ctrl-wrap .main-screen-wrap .main-screen-cover-rigth {
	right: 0;
	top: 0;
}

.director-wrap .director-ctrl-wrap .main-ctrl-wrap {
    width: 100%;
    color: #b2b3b4;
    padding: 2px;
	box-sizing: border-box;
}

.director-head-wrap .logo-wrap .logo {
    display: inline-block;
	width: 120px;
	height: 50px;
}

.director-head-wrap .logo-wrap .title {
	color: #774600;
	margin: 0;
	padding: 0;
}

.branch-screen-wrap .branch-screen-list{
	height: 100%;
	border: solid 1px #343536;
	box-sizing: border-box;
}

.branch-screen-wrap .branch-screen-list .branch-screen-item {
	width: 33.333333%;
	height: 33.333333%;
	padding: 2.165px 8.665px;
	box-sizing: border-box;
    border: solid 1px #1d1d1d;
    background: #44474B;
}

.branch-screen-wrap .branch-screen-list .branch-screen-item .branch-screen {
	display: inline-block;
	width: 100%;
	height: 108px;
	background: #aac7e7;
	box-sizing: border-box;
}

.branch-screen-wrap .branch-screen-list .branch-screen-item .branch-srcreen-title {
	display: inline-block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
}

.main-ctrl-wrap .main-ctrl {
	display: table-cell;
	box-sizing: border-box;
	height: 100%;
}

.director-wrap .director-ctrl-wrap .main-ctrl-wrap .record-ctrl-wrap li{
	border: solid 1px #46494e;
	padding: 3px 10px;
}

.director-wrap .director-ctrl-wrap .main-ctrl-wrap .record-ctrl-wrap .record-select-ctrl {
	padding: 10px 10px;
}

.director-wrap .director-ctrl-wrap .main-ctrl-wrap .special-ctrl-wrap li {
	border: solid 1px #46494e;
	padding: 3px 10px;
}

.director-wrap .director-ctrl-wrap .main-ctrl-wrap .special-ctrl-wrap .special-setting-wrap, .director-wrap .director-ctrl-wrap .main-ctrl-wrap .special-ctrl-wrap .text-setting-wrap {
	padding: 13px 10px;
}

.screen-mode-wrap .screen-mode-wrap-inner, .preset-site-wrap .preset-site-wrap-inner, .camera-ctrl-wrap .camera-ctrl-wrap-inner {
	border: solid 1px #46494e;
	height: 206px;
}

.screen-mode-wrap .screen-mode-wrap-inner .title {
	padding: 0 10px;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list {
	padding: 10px 9px;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .screen-mode-item {
	border: solid 1px;
	width: 100px;
	height: 70px;
	position: relative;
	box-sizing: border-box;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .screen-mode-item .select-box {
	display: inline-block;
    border: solid 1px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .screen-mode-item .small-screen{
	display: inline-block;
    width: 20px;
    height: 15px;
    border: solid 1px;
    position: absolute;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .outside-screen .large-screen {
	border: solid 1px;
    width: 60px;
    height: 100%;
    display: inline-block;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .conmmuniction-screen .left-screen {
	display: inline-block;
    border: solid 1px;
    width: 42px;
    height: 100%;
    box-sizing: border-box;
}

.screen-mode-wrap .screen-mode-wrap-inner .screen-mode-list .conmmuniction-screen .right-screen {
	display: inline-block;
    border: solid 1px;
    width: 42px;
    height: 100%;
    box-sizing: border-box;
}

.preset-site-wrap .preset-site-wrap-inner .site-list{
	width: 160px;
    height: 160px;
    display: inline-block;
}

.preset-site-wrap .preset-site-wrap-inner .site-list .site-item {
	border: solid 1px #46494e;
    width: 33.333333%;
    height: 33.333333%;
    line-height: 60px;
    box-sizing: border-box;
}

.record-ctrl-wrap .record-mode-ctrl .record-mode-wrap {
	display: inline-block;
    height: 17px;
    line-height: 20px;
    width: 120px;
}

.record-ctrl-wrap .record-select-ctrl .movie-header-wrap, .record-ctrl-wrap .record-select-ctrl .movie-tail-wrap {
	display: inline-block;
    width: 97px;
    border: solid 1px;
    padding: 0 5px;
    box-sizing: border-box;
}

.record-ctrl-wrap .record-btn-wrap, .record-ctrl-wrap .stop-btn-wrap {
	border: 2px solid;
    border-radius: 13px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 23px;
    text-align: center;
    width: 26px;
    color: #b2b3b4;
}

.special-ctrl-wrap .sel-wrap {
	border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    width: 99px;
}

.special-ctrl-wrap .director-mode-btn {
	line-height: 26px;
    padding: 0 5px;
}

.special-ctrl-wrap .director-mode-btn.selected {
	background: #73a53f;
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: solid 1px;
}

table thead tr {
	line-height: 35px;
	color: #000;
    font-weight: bold;
    background: #cfcfcf;
}

table td {
	text-align: center;
}

.record-cameras-wrap .record-cameras-table .record-cameras-name {
	width: 30%;
}

.record-cameras-wrap .record-cameras-table .record-cameras-sure {
	width: 20%;
}

.record-cameras-wrap .record-cameras-table .record-cameras-bite {
	width: 50%;
}

.record-tt-wrap {
	height: 100%;
	position: relative;
}

.record-tt-wrap .tab-wrap {
	background: #cfcfcf;
	padding: 0 1px;
}

.dialog-footer {
	background: #cfcfcf;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}