#eTree, #eTree ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}

#eTree li {
	line-height: 25px;
}

#eTree li a {
	text-decoration: none;
	color: #444;
	padding: 2px 5px;
}

#eTree li a.selected {
	background: #CCCCCC;
    border: solid 1px #7D7D7D;
}

#eTree .level-1 {
	margin-left: 20px;
}

#eTree .level-2 {
	margin-left: 40px;
}

#eTree li a.arrow {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: 100%;
}

#eTree li a.arrow-down {
	background: url(./arrow.png);
}
/*#eTree li a {
	display: inline-block;
	padding: 0 5px;
	margin: 2px 0 2px 5px;
	text-decoration: none;
	color: #666;
	border: solid 1px transparent;
}

#eTree li a.selected {
	background-color: #FFE6B0;
	color: black;
	border: 1px #FFB951 solid;
	opacity: 0.8;
}

#eTree li a span {
	display: inline-block;
	width: 100%;
	border-bottom: solid 1px transparent;
}

#eTree li a span:hover {
	border-bottom: solid 1px black;
}

#eTree .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	cursor: pointer;
}

#eTree .arrow-up {
	border-top: 10px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 0;
}

#eTree .arrow-down {
	border-left: 10px solid #000;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0;
}

#eTree .hide {
	visibility: hidden;
}

#eTree .hidden {
	display: none;
}

#eTree li .chk {
	position: relative;
	top: 2px;
	margin-right: 2px;
	margin-left: 10px;
}*/