<%include common\header.html%>
	<body ng-controller="addController">
		<div class="add-content pd20">
			<div class="cf">
				<a href="/home" class="btn btn-default fr">返回</a>
			</div>
			<form novalidate="novalidate" role="form" name="form" class="mt20 form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label col-sm-2">名称：</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" required name="name" id="name" ng-model="interface.name">
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="control-label col-sm-2">类型：</label>
					<div class="col-sm-10">
						<select name="type" class="form-control" ng-model="interface.type">
							<option value="1">前端</option>
							<option value="2">后端</option>
							<option value="3">插件</option>
							<option value="4">移动</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="createBy" class="control-label col-sm-2">创建人：</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="createBy" id="createBy" ng-model="interface.createBy">
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="control-label col-sm-2">描述：</label>
					<div class="col-sm-10">
						<textarea class="form-control description-textarea" name="description" id="description" ng-model="interface.description"></textarea>
					</div>
				</div>
				<input type="submit" value="提交" ng-disbaled="!form.$valid" ng-click="create()" class="btn btn-primary mt20"/>
			</form>
		</div>
	</body>
	<%include common\footer.html%>
	<script type="text/javascript">
	angular.element(document).ready(function() {
		"use strict"
		var addCtrl = function($scope, addService) {
			$scope.interface = {};

			$scope.create = function() {
				addService.addInterface($scope.interface).then(function(result) {
					if(result && result._id) {
						$scope.interface.name = "";
						$scope.interface.type = 0;
						$scope.interface.createBy = "";
						$scope.interface.description = "";
						alert("新增成功！");
					}
				});
			};
		};

		var interfaceAdd = angular.module("interface.add", []);
		interfaceAdd.controller("addController", ["$scope", "addService", addCtrl]);
		interfaceAdd.service("addService", ["$http", "$q", function($http, $q) {
			var baseUrl = "/home/toAdd";
			this.addInterface = function(item) {
				var deferred = $q.defer();
				$http({
					method: "POST",
					url: baseUrl + "/add",
					data: item
				}).success(function(result) {
					deferred.resolve(result);
				}).error(function() {
					deferred.reject("There was an error");
				});
				return deferred.promise;
			};
		}]);

		angular.bootstrap(document, ['interface.add']);
	});
	</script>
</html>