<%include common\header.ejs%>
	<body class="index-body">
		<div class="mask">
			<form class="form-horizontal" method="post">
				<fieldset class="content-wrap pd30">
					<input type="text" class="form-control" name="username" placeholder="用户名"/>
					<input type="text" class="form-control mt20" name="passowrd" placeholder="密码"/>
					<button type="submit" class="btn btn-primary mt20">登录</button>
				</fieldset>
			</form>
		</div>
	</body>
<%include common\footer.ejs%>

