<%include common\header.html%>
	<body ng-controller="updateController">
		<div class="add-content pd20">
			<div class="cf">
				<a href="/home" class="btn btn-default fr">返回</a>
			</div>
			<form novalidate class="mt20 form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label col-sm-2">名称：</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="name" id="name" ng-model="interface.name">
					</div>
				</div>
				<div class="form-group">
					<label for="createBy" class="control-label col-sm-2">创建人：</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="createBy" id="createBy" ng-model="interface.createBy">
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="control-label col-sm-2">描述：</label>
					<div class="col-sm-10">
						<textarea class="form-control description-textarea" name="description" id="description" ng-model="interface.description"></textarea>
					</div>
				</div>
				<button ng-click="update()" class="btn btn-primary mt20">保存</button>
			</form>
		</div>
	</body>
	<%include common\footer.html%>
	<script type="text/javascript">
	angular.element(document).ready(function() {
		"use strict"
		var updateCtrl = function($scope, updateService) {
			$scope.interface = {};
			$scope.interface._id = "<%= interFace._id %>";
			$scope.interface.name = "<%= interFace.name %>";
			$scope.interface.createBy = "<%= interFace.createBy %>";
			$scope.interface.description = "<%= interFace.description %>";

			$scope.update = function() {
				updateService.addInterface($scope.interface).then(function(result) {
					if(result && result.ok) {
						alert("编辑成功！");
					}
				});
			};
		};

		var interfaceAdd = angular.module("interface.update", []);
		interfaceAdd.controller("updateController", ["$scope", "updateService", updateCtrl]);
		interfaceAdd.service("updateService", ["$http", "$q", function($http, $q) {
			var baseUrl = "/home/toUpdate";
			this.addInterface = function(item) {
				var deferred = $q.defer();
				$http({
					method: "POST",
					url: baseUrl + "/update",
					data: item
				}).success(function(result) {
					deferred.resolve(result);
				}).error(function() {
					deferred.reject("There was an error");
				});
				return deferred.promise;
			};
		}]);

		angular.bootstrap(document, ['interface.update']);
	});
	</script>
</html>