.multiSelect2Side_wrap {
    width: 100%;
    height: 280px;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

.multiSelect2Side_wrap .left_wrap, .multiSelect2Side_wrap .right_wrap {
    display: inline-block;
    min-width: 200px;
    float: left;
    height: 250px;
}

.multiSelect2Side_wrap .ctrl_wrap {
    float: left;
    width: 90px;
    text-align: center;
    margin-top: 28px;
    padding: 20px 0;
}

.multiSelect2Side_wrap .ctrl_wrap .selectBtn {
	margin-top: 25px;
}

.multiSelect2Side_wrap .title {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.multiSelect2Side_wrap .list_wrap {
	width: 100%;
    height: 100%;
    border: solid 1px #cdcdcd;
    box-sizing: border-box;
    border-radius: 3px;
}

.multiSelect2Side_wrap .list_wrap .list_ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.multiSelect2Side_wrap .list_wrap .list_ul li {
    padding: 2px 3px;
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -zom-user-select: none;
    -webkit-user-select: none;
}

.multiSelect2Side_wrap .list_wrap .list_ul li:hover {
	background: #ececec;
}

.multiSelect2Side_wrap .list_wrap .list_ul li.selected {
	background: #cdcdce;
}